# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Expo
# ==========================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# ==========================
# Native Build Folders
# ==========================
android/
ios/

# ==========================
# Android / iOS Certificates
# ==========================
.kotlin/
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# ==========================
# Environment Files
# ==========================
.env
.env.*
.env*.local

# ==========================
# Metro
# ==========================
.metro-health-check*

# ==========================
# Logs
# ==========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ==========================
# TypeScript
# ==========================
*.tsbuildinfo

# ==========================
# IDE
# ==========================
.vscode/
.idea/
*.iml

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Build Outputs
# ==========================

*.aab

# ==========================
# SQLite (Optional)
# Uncomment if you don't want
# local database in GitHub
# ==========================
# *.db
# *.db-journal

# ==========================
# Misc
# ==========================
*.orig.*
app-example/

.vscode/